div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../009-absolute/afterpay.png");
    background-repeat: no-repeat;




    }

    img {
        border: 1px groove green;

    }
    .oneafter {
      border: 1px dashed green;
    }
    .twoafter {
      border: 1px solid green;

    }
    .threeafter {
      border: 1px dotted green;

    }
